<!-- as of now it displayes error/success messge everywhere, where acknowlege is dispalyed -->
<template>
  <div>
    <div v-if="showFailureComponent" class="ack-failure-wrapper">
      <a @click="clearMessages"><span class="icon icon-remove"></span>Clear</a>
      <div v-if="isErrors">
        <div class="alert alert-danger">
          <h5 style="color: #fff;"> {{ message }} </h5>
          <ul>
             <li v-for="error in AckBody"> <span class="icon icon-exclamation-sign"></span>  {{ error }} </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import {mapActions, mapGetters} from 'vuex'
  export default {
    props:['ackForComponent', 'fieldName'],
    methods:{
      ...mapActions(['clearMessages']),
    },
    computed:{
      ...mapGetters(['ack']),
      isErrors() {
        return this.ack.isError();
      },
      AckBody() {
        return this.ack.getBody()
      },
      isForThisComponent () {
        return this.ack.getNameForAckComponent() == this.ackForComponent
      },
      isForThisField () {
        return Object.keys(this.ack.getErrorMessageFor(this.fieldName)).length;
      },
      showFailureComponent () {
        return this.isErrors && this.isForThisComponent && this.isForThisField;
      }
    }
  }

</script>

<style lang="sass">
  .ack-failure-wrapper {
    background-color:#FFBABA;
    padding: 10px;
    a,p {
      color:#D8000C;
    }
  }
</style>
