<!-- as of now it displayes error/success messge everywhere, where acknowlege is dispalyed -->
<template>
  <div>
    <div v-if="showSuccessComponent" class="ack-success-wrapper">
      <a @click="clearMessages"><span class="icon icon-remove"></span>Clear</a>
      <div>
        <p>{{ message }} </p>
      </div>
    </div>
  </div>
</template>
<script>
  import {mapActions, mapGetters} from 'vuex'
  export default {
    props:['ackForComponent'],
    methods:{
      ...mapActions(['clearMessages']),
    },
    computed:{
      ...mapGetters(['ack']),

      isSuccess() {
        return this.ack.isSuccess()
      },
      message() {
        return this.ack.getMessage()
      },
      isForThisComponent () {
        return this.ack.getNameForAckComponent() == this.ackForComponent
      },
      showSuccessComponent () {
        return this.isForThisComponent && this.isSuccess
      }
    }
  }
</script>

<style lang="sass">
  .ack-success-wrapper {
    background-color:#DFF2BF;
    padding: 10px;
    a,p {
      color:#4F8A10;
    }
  }
</style>
