<template>
  <div class="form-group">
    <label class="control-label form-control-label">{{title}}</label>
    <input :id="randomID" class="form-control" type="text" size="50" placeholder="Enter a name" :value="location" autocomplete="on" runat="server" />
    <div class="">
      <input type="hidden"  name="city2" v-model="name"/>
        <input type="hidden"  name="cityLat" v-model="lat"/>
      
        <input type="hidden"  name="cityLng" v-model="lng"/>
    </div>
  </div>
</template>

<script>
  export default {
    props:['location', 'title'],
    data() {
      return{
        name:'',
        lat:'',
        lng:'',
        code: '',
        randomID : randomString()
      }
    },
    mounted() {
      this.initializeLocationSearch();
    },
    methods:{
      initializeLocationSearch() {

        var input = document.getElementById(this.randomID);
        if(typeof google != 'undefined') {
          var self = this;
          var autocomplete = new google.maps.places.Autocomplete(input);
          google.maps.event.addListener(autocomplete, 'place_changed', function () {
              var place = autocomplete.getPlace();

              self.name = place.name; //this is short name, let user edit it
              self.code = place.address_components[0].short_name;
              self.lat = place.geometry.location.lat();
              self.lng = place.geometry.location.lng();
              
              self.$emit('location-updated',{
                lat: self.lat,
                lng: self.lng,
                code: self.code,
                name: self.name
              })
          });
        }
      }
    }
  }
</script>