<template>
	<div>
		<left-menu></left-menu>
		<top-menu></top-menu>
		<section class="page-content">
			<div class="page-content-inner">
				<component v-bind:is="getCurrentModuleName"></component>
			</div>
		</section>
		<footer-content></footer-content>
	</div>
</template>

<script>
	require("./component_includes.js")
	import {mapGetters, mapActions} from 'vuex'
	export default {
		computed: {
			...mapGetters(['getCurrentModuleName'])
		}
	}
</script>
