<template>
    <nav class="left-menu" left-menu>
        <div class="logo-container">
            <a href="index.html" class="logo">
                <img src="/images/logo.png" alt="Clean UI Admin Template" />
                <img class="logo-inverse" src="/images/logo-inverse.png" alt="Clean UI Admin Template" />
            </a>
        </div>
        <div class="left-menu-inner scroll-pane">
            <ul class="left-menu-list left-menu-list-root list-unstyled">
                <!-- DMC Code -->
                <li>
                    <a class="left-menu-link" href="#" @click="setModule('mainContent')">
                        <i class="left-menu-link-icon icmn-home2"><!-- --></i>
                        <span class="menu-top-hidden">Dashboard</span> Home
                    </a>
                </li>

                <li class="left-menu-list-separator"><!-- --></li>

                <li class="left-menu-list-submenu">
                    <a class="left-menu-link" href="javascript: void(0);">
                        <i class="left-menu-link-icon icmn-files-empty2"></i>
                        Locations
                    </a>
                    <ul class="left-menu-list list-unstyled">
                        <li>
                            <a class="left-menu-link text-left" href="#" @click="setModule('countries')">Countries</a>
                        </li>
                        <li>
                            <a class="left-menu-link text-left" href="#" @click="setModule('destinations')">Destinations</a>
                        </li>
                        <li>
                            <a class="left-menu-link text-left" href="#" @click="setModule('areas')">Areas</a>
                        </li>
                    </ul>
                </li>

                <li class="left-menu-list-separator"><!-- --></li>

                <li>
                    <a class="left-menu-link" href="dashboards-beta.html">
                        <i class="left-menu-link-icon icmn-home2"><!-- --></i>
                        Currency
                    </a>
                </li>

                <li class="left-menu-list-separator"><!-- --></li>

                <li class="left-menu-list-submenu">
                    <a class="left-menu-link" href="javascript: void(0);">
                        <i class="left-menu-link-icon icmn-files-empty2"></i>
                        Taxes &amp; Bank Accounts
                    </a>
                    <ul class="left-menu-list list-unstyled">
                        <li>
                            <a class="left-menu-link text-left" href="#" @click="setModule('bankAccountDetails')">Bank Details</a>
                        </li>
                        <li>
                            <a class="left-menu-link text-left" href="#" @click="setModule('purchaseTaxes')">Purchase Taxes</a>
                        </li>
                        <li>
                            <a class="left-menu-link text-left" href="#" @click="setModule('assignPurchaseTaxes')">Assign Purchase</a>
                        </li>
                        <li>
                            <a class="left-menu-link text-left" href="#" @click="setModule('salesTaxes')">Sales Taxes</a>
                        </li>
                        <li>
                            <a class="left-menu-link text-left" href="#" @click="setModule('assignSalesTaxes')">Assign Sales Tax</a>
                        </li>
                    </ul>
                </li>

                <li class="left-menu-list-separator"><!-- --></li>

                <li class="left-menu-list-submenu">
                    <a class="left-menu-link" href="javascript: void(0);">
                        <i class="left-menu-link-icon icmn-files-empty2"></i>
                        Travel Agents
                    </a>
                    <ul class="left-menu-list list-unstyled">
                        <li>
                            <a class="left-menu-link text-left" href="#" @click="setModule('travelAgentTypes')">Travel Agent Types</a>
                        </li>
                        <li>
                            <a class="left-menu-link text-left" href="#" @click="setModule('addTravelAgent')">Add Travel Agent</a>
                        </li>
                        <li>
                            <a class="left-menu-link text-left" href="#" @click="setModule('travelAgents')">Travel Agents</a>
                        </li>
                        <li>
                            <a class="left-menu-link text-left" href="#" @click="setModule('travelAgentTeam')">Travel Agent Team</a>
                        </li>
                    </ul>
                </li>

                <li class="left-menu-list-separator"><!-- --></li>

                <li class="left-menu-list-submenu">
                    <a class="left-menu-link" href="javascript: void(0);">
                        <i class="left-menu-link-icon icmn-files-empty2"></i>
                        Settings
                    </a>
                    <ul class="left-menu-list list-unstyled">
                        <li>
                            <a class="left-menu-link text-left" href="#" @click="setModule('hotelSettings')">Hotels</a>
                        </li>
                        <li>
                            <a class="left-menu-link text-left" href="#" @click="setModule('tourSettings')">Tours</a>
                        </li>
                        <li>
                            <a class="left-menu-link text-left" href="#" @click="setModule('transferSetting')">Transfers</a>
                        </li>
                        <li>
                            <a class="left-menu-link text-left" href="#" @click="setModule('mealSetting')">Meals</a>
                        </li>
                    </ul>
                </li>

                <li class="left-menu-list-separator"><!-- --></li>

                <li class="left-menu-list-submenu">
                    <a class="left-menu-link" href="javascript: void(0);">
                        <i class="left-menu-link-icon icmn-files-empty2"></i>
                        Destination Information
                    </a>
                    <ul class="left-menu-list list-unstyled">
                        <li>
                            <a class="left-menu-link text-left" href="">Hotels</a>
                        </li>
                        <li>
                            <a class="left-menu-link text-left" href="">Tours</a>
                        </li>
                        <li>
                            <a class="left-menu-link text-left" href="">Travels</a>
                        </li>
                        <li>
                            <a class="left-menu-link text-left" href="">Meals</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script type="text/javascript">
    import {mapGetters, mapActions} from 'vuex'
    export default {
        computed: {
            ...mapGetters(['getCurrentModuleName'])
        },
        methods: {
            ...mapActions(['setCurrentModuleName']),
            setModule(moduleName) {
                /*
                    Code To Perform Any Action For The Module Selected Goes Here
                 */

                /* Set The Current Module */
                this.setCurrentModuleName(moduleName);
            }
        }
    }
</script>
