<template>
    <div>
        <top-menu></top-menu>
        <div class="uk-background-muted">
            <router-view></router-view>
        </div>
        <footer-content></footer-content>
    </div>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex'
    export default {
        name: 'app',
        data() {
            return {
                first: "first local"
            };
        },
        components:{
            topMenu : require('../../components/navigation/topmenu.vue'),
            footerContent : require('../../components/navigation/footer.vue')
        },
        methods: {
            ...mapActions(['fetchMiscellaneous', 'fetchLocations']),
            setSettingsData(data) {
                this.$store.commit('SET_VEHICLES', data.vehicles);
                this.$store.commit('SET_CUISINES', data.cuisines);
                this.$store.commit('SET_TRANSFER_POINTS', data.transferPoints);
                this.$store.commit('SET_CHILD_AGES', data.childAges);
            }
        },
        beforeMount() {
            // Cache At Server
            this.fetchMiscellaneous();
        }
    }
</script>
