<template>
    <div class="d-padding-vertical-15">
        <div class="uk-flex uk-margin uk-text-center">
            <div class="uk-margin-auto uk-visible@s">
            	<clock></clock>
            </div>
         </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex'
    export default {
        data() {
            return {}
        },
        computed:{
            ...mapGetters(['auth']),
        },        
        mounted() {
            //this.login();
		    $('#clock_dubai').jClocksGMT({offset: '+4', hour24: true});
		    $('#clock_dc').jClocksGMT({offset: '-4', hour24: true});
		    $('#clock_uk').jClocksGMT({offset: '0', hour24: true});
		    $('#clock_india').jClocksGMT({offset: '+5.5', hour24: true});
        },
        methods:{

        },
        components:{
            clock : require('../common/utilities/clock.vue'),
            footerContent : require('./footer.vue'),
        }
    }
</script>