<template>
    <footer>
        <div class="d-footer-top">
            <ul class="uk-grid uk-flex uk-flex-center">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Key Benefits to Customers</a></li>
                <li><a href="#">Key Benefits to Suppliers</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <br>
            <ul class="uk-grid uk-flex uk-flex-center">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Use</a></li>
            </ul>
        </div>
        <div class="uk-flex uk-flex-center d-footer-bottom">
            <p>
                © 2017 <a href="http://mediatec.org/" target="_blank">Nways Software.</a>All rights reserved.
            </p>
        </div>
    </footer>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex'
    export default {
        data() {
            return {}
        },
        computed:{
            ...mapGetters(['auth']),
        },
        methods:{

        }
    }
</script>

<style media="screen" lang="scss">
    footer {
        background-color: #1e1e1e;
        color: #fff;
        a {
            &:hover {
                color: #ccc;
                text-decoration: none;
            }
            color: #fff;
            text-decoration: none;
        }
        .d-footer-top {
            background-color: #333;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .d-footer-bottom {
            padding-top: 20px;
        }
    }
</style>
