<template>
	<div class="">
		<div class="uk-navbar-container uk-sticky" uk-sticky="media: 960; top: 100px; animation: uk-animation-slide-top" style="background-color: #04ABF1">
			<div class="uk-container uk-container-expand">
				<nav class="d-sticky-navbar d-navbar uk-navbar" uk-navbar>
					<ul class="uk-navbar-nav">
						<li class="uk-parent">
							<a href="#">Home</a>
						</li>
						<li class="uk-parent">
							<a href="#">About Us</a>
						</li>
						<li class="uk-parent">
							<a href="#">Contact Us</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</template>

<script>
	import {mapActions, mapGetters} from 'vuex'
	export default{
		data(){
			return {

			}
		},
		computed: {
			...mapGetters(['currentConfig']),
		}
	}
</script>

<style media="screen" lang="scss">
	.d-user-profile {
		height: 50px;
	}
	.d-navbar .uk-navbar-nav>li>a {
		padding: 0;
	}
	.d-sticky-navbar .uk-navbar-nav>li>a {
		height: 40px;
		color: #fff;
		padding: 10px;
		margin-right: 1px;
		&:hover {
			background-color: #000;
			color: #fff;
		}
	}
	.d-sticky-navbar .uk-navbar-nav>li>div.uk-navbar-dropdown>ul>li {
		padding-top: 2px;
		padding-bottom: 2px;
		&:not(:last-child) {
			border-bottom: 1px solid #f5f5f5;
		}
		a {
			&:hover {
				color: rgb(4, 171, 241);
			}
		}
	}
</style>
