<template>
    <nav class="left-menu" left-menu>
        <div class="logo-container">
            <a href="index.html" class="logo">
                <img src="/images/logo.png" alt="Clean UI Admin Template" />
                <img class="logo-inverse" src="/images/logo-inverse.png" alt="Clean UI Admin Template" />
            </a>
        </div>
        <div class="left-menu-inner scroll-pane">
            <ul class="left-menu-list left-menu-list-root list-unstyled">
                <!-- DMC Code -->
                <router-link tag="li" :to="{ name: 'admin-home'}">
                    <a class="left-menu-link" href="#">
                        <i class="left-menu-link-icon icmn-home2"><!-- --></i>
                        <span class="menu-top-hidden">Dashboard</span> Home
                    </a>
                </router-link>

                <li class="left-menu-list-separator"><!-- --></li>

                <li class="left-menu-list-submenu">
                    <a class="left-menu-link" @click="openRoute('/admin/locations')" href="javascript: void(0);">
                        <i class="left-menu-link-icon icmn-files-empty2"></i>
                        Locations
                    </a>
                    <ul class="left-menu-list list-unstyled">
                        <router-link tag="li" to="/admin/locations/countries">
                            <a class="left-menu-link text-left">Countries</a>
                        </router-link>
                        <router-link tag="li" to="/admin/locations/destinations">
                            <a class="left-menu-link text-left">Destinations</a>
                        </router-link>
                        <router-link tag="li" to="/admin/locations/areas">
                            <a class="left-menu-link text-left">Areas</a>
                        </router-link>
                    </ul>
                </li>

                <li class="left-menu-list-separator"><!-- --></li>

                <li>
                    <a class="left-menu-link" href="dashboards-beta.html">
                        <i class="left-menu-link-icon icmn-home2"><!-- --></i>
                        Currency
                    </a>
                </li>

                <li class="left-menu-list-separator"><!-- --></li>

                <li class="left-menu-list-submenu">
                    <a class="left-menu-link" @click="openRoute('/admin/taxesBankAccounts')" href="javascript: void(0);">
                        <i class="left-menu-link-icon icmn-files-empty2"></i>
                        Taxes &amp; Bank Accounts
                    </a>
                    <ul class="left-menu-list list-unstyled">
                        <router-link tag="li" to="/admin/taxesBankAccounts/bankAccountDetails">
                            <a class="left-menu-link text-left">Bank Details</a>
                        </router-link>
                        <router-link tag="li" to="/admin/taxesBankAccounts/purchaseTaxes">
                            <a class="left-menu-link text-left">Purchase Taxes</a>
                        </router-link>
                        <router-link tag="li" to="/taxesBankAccounts/assignPurchaseTaxes">
                            <a class="left-menu-link text-left">Assign Purchase</a>
                        </router-link>
                        <router-link tag="li" to="/admin/taxesBankAccounts/salesTaxes">
                            <a class="left-menu-link text-left">Sales Taxes</a>
                        </router-link>
                        <router-link tag="li" to="/admin/taxesBankAccounts/assignSalesTaxes">
                            <a class="left-menu-link text-left">Assign Sales Tax</a>
                        </router-link>
                    </ul>
                </li>

                <li class="left-menu-list-separator"><!-- --></li>

                <li class="left-menu-list-submenu">
                    <a class="left-menu-link" @click="openRoute('/admin/travelAgents')" href="javascript: void(0);">
                        <i class="left-menu-link-icon icmn-files-empty2"></i>
                        Travel Agents
                    </a>
                    <ul class="left-menu-list list-unstyled">
                        <router-link tag="li" to="/admin/travelAgents/travelAgentTypes">
                            <a class="left-menu-link text-left">Travel Agent Types</a>
                        </router-link>
                        <router-link tag="li" to="/admin/travelAgents/addTravelAgent">
                            <a class="left-menu-link text-left">Add Travel Agent</a>
                        </router-link>
                        <router-link tag="li" to="/admin/travelAgents/travelAgents">
                            <a class="left-menu-link text-left">Travel Agents</a>
                        </router-link>
                        <router-link tag="li" to="/admin/travelAgents/travelAgentTeam">
                            <a class="left-menu-link text-left">Travel Agent Team</a>
                        </router-link>
                    </ul>
                </li>

                <li class="left-menu-list-separator"><!-- --></li>

                <li class="left-menu-list-submenu">
                    <a class="left-menu-link"  @click="openRoute('/admin/settings')" href="javascript: void(0);">
                        <i class="left-menu-link-icon icmn-files-empty2"></i>
                        Settings
                    </a>
                    <ul class="left-menu-list list-unstyled">
                        <router-link tag="li" to="/admin/settings/hotels">
                            <a class="left-menu-link text-left">Hotels</a>
                        </router-link>
                        <router-link tag="li" to="/admin/settings/tours">
                            <a class="left-menu-link text-left">Tours</a>
                        </router-link>
                        <router-link tag="li" to="/admin/settings/transfers">
                            <a class="left-menu-link text-left">Transfers</a>
                        </router-link>
                        <router-link tag="li" to="/admin/settings/meals">
                            <a class="left-menu-link text-left">Meals</a>
                        </router-link>
                    </ul>
                </li>

                <li class="left-menu-list-separator"><!-- --></li>

                <li class="left-menu-list-submenu">
                    <a class="left-menu-link" @click="openRoute('/destination-info/meals')" href="javascript: void(0);">
                        <i class="left-menu-link-icon icmn-files-empty2"></i>
                        Destination Information
                    </a>
                    <ul class="left-menu-list list-unstyled">
                      <router-link tag="li" to="/destination-info/hotels">
                          <a class="left-menu-link text-left">Hotels</a>
                      </router-link>
                      <router-link tag="li" to="/destination-info/tours">
                          <a class="left-menu-link text-left">Tours</a>
                      </router-link>
                      <router-link tag="li" to="/destination-info/transfers">
                          <a class="left-menu-link text-left">Transfers</a>
                      </router-link>
                      <router-link tag="li" to="/destination-info/meals">
                          <a class="left-menu-link text-left">Meals</a>
                      </router-link>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script type="text/javascript">
    import {mapGetters, mapActions} from 'vuex'
    export default {
        computed: {
            ...mapGetters(['getCurrentModuleName'])
        },
        methods: {
            ...mapActions(['setCurrentModuleName']),
            setModule(moduleName) {
                /*
                    Code To Perform Any Action For The Module Selected Goes Here
                 */

                /* Set The Current Module */
                this.setCurrentModuleName(moduleName);
            },
            openRoute(route) {
                this.$router.push(route);
            }
        }
    }
</script>
