<template>
	<div>
    	<div class="uk-container uk-container-expand uk-background-muted">
	    	<nav class="d-navbar uk-navbar" uk-navbar>
		    	<div class="uk-navbar-left">
		    		<ul class="uk-navbar-nav uk-visible@m">
			    		<li class="uk-navbar-item uk-form-small"><i class="fa fa-home d-text-secondary" aria-hidden="true">&nbsp;</i>P O Box 2000, Dubai - UAE</li>
			    		<li class="uk-navbar-item  uk-form-small"><i class="fa fa-phone d-text-secondary" aria-hidden="true">&nbsp;</i>+901 5 292 6900</li>
			    		<li class="uk-navbar-item uk-form-small"><i class="fa fa-envelope d-text-secondary" aria-hidden="true">&nbsp;</i>sales@godubaitourism.com</li>
			    	</ul>
		    	</div>
				<div class="uk-navbar-right">
					<social-menu></social-menu>
				</div>
			</nav>
		</div>

		<div class="uk-container uk-container-expand d-padding-vertical-15">
			<nav class="d-navbar uk-flex uk-flex-center" uk-navbar>
				<div class="uk-navbar-left">
					<a class="uk-navbar-item uk-logo">
						<img src="/images/logo.png" style="height: 100px;" :alt="currentConfig.companyName">
					</a>
				</div>
			</nav>
		</div>
	</div>
</template>

<script>
	import {mapGetters} from 'vuex'
	import socialMenu from './social.vue'
	export default{
		data(){
			return {

			}
		},
		computed: {
			...mapGetters(['currentConfig']),
		},
		components: {
			socialMenu
		}
	}
</script>

<style media="screen" lang="scss" scoped>
	.d-user-profile {
		height: 50px;
	}
	.uk-navbar-nav>li>a {
		height: 60px;
	}
</style>
