<template>
    <ul class="uk-navbar-nav uk-visible@m">
        <li><a :href="currentConfig.facebookURL"><span class="uk-icon-button uk-icon d-icon-facebook" uk-icon="icon: facebook"></span></a></li>
        <li><a :href="currentConfig.googlePlusURL"><span class="uk-icon-button uk-icon d-icon-gplus" uk-icon="icon: google-plus"></span></a></li>
        <li><a :href="currentConfig.twitterURL"><span class="uk-icon-button uk-icon d-icon-twitter" uk-icon="icon: twitter"></span></a></li>
    </ul>
</template>

<script type="text/javascript">
    import {mapGetters} from 'vuex'
    export default {
        computed: {
            ...mapGetters(['currentConfig'])
        }
    }
</script>
