<template>
	<div class="">
		<div class="uk-container uk-conatiner-expand uk-background-muted">
			<nav class="d-navbar uk-navbar" uk-navbar>
		    	<div class="uk-navbar-right">
		    		<ul class="uk-navbar-nav uk-visible@m">
			    		<li class="uk-navbar-item uk-form-small"><i class="fa fa-home d-text-secondary" aria-hidden="true">&nbsp;</i>P O Box 2000, Dubai - UAE</li>
			    		<li class="uk-navbar-item  uk-form-small"><i class="fa fa-phone d-text-secondary" aria-hidden="true">&nbsp;</i>+901 5 292 6900</li>
			    		<li class="uk-navbar-item uk-form-small"><i class="fa fa-envelope d-text-secondary" aria-hidden="true">&nbsp;</i>sales@godubaitourism.com</li>
			    	</ul>
		    	</div>
			</nav>
		</div>
		<div class="uk-container uk-container-expand">
			<nav class="d-navbar" uk-navbar>
				<div class="uk-navbar-left">
					<a class="uk-navbar-item uk-logo">
						<img src="/images/logo.png" :alt="currentConfig.companyName">
					</a>
				</div>
				<div class="uk-navbar-right">
					<social-menu></social-menu>
					<div class="uk-navbar-item uk-margin-large-left">
						<a href="#">
							<img class="uk-border-circle d-user-profile" src="/images/avatar.png" alt="User">
						</a>
						<div uk-dropdown="mode: click">
							<ul class="uk-nav uk-dropdown-nav">
								<li class="uk-nav-header"><strong>My Account</strong></li>
								<li><a href="#">Profile</a></li>
								<li><a href="#">Logout</a></li>
							</ul>
						</div>

					</div>
				</div>
			</nav>
		</div>
		<div class="uk-navbar-container uk-sticky" uk-sticky="media: 960; top: 100px; animation: uk-animation-slide-top" style="background-color: #04ABF1">
			<div class="uk-container uk-container-expand">
				<nav class="d-sticky-navbar" uk-navbar>
					<div class="uk-navbar-left">
						<ul class="uk-navbar-nav">
							<li class="uk-parent">
								<a href="#">Book Now!</a>
								<div class="uk-navbar-dropdown">
									<ul class="uk-nav uk-navbar-dropdown-nav">
										<li>
											<router-link tag="a" to="/dashboard/book/hotels/search">Hotels</router-link>
										</li>
										<li><a href="#">Tours</a></li>
										<li><a href="#">Transfers</a></li>
										<li><a href="#">Meals</a></li>
										<li><a href="#">Visas</a></li>
										<li><a href="#">Attraction Tickets</a></li>
										<li><a href="#">Vehicle Rental</a></li>
									</ul>
								</div>
							</li>
							<li class="uk-parent">
								<a href="#">Create Package</a>
							</li>
							<li class="uk-parent">
								<a href="#">Packages</a>
							</li>
							<li class="uk-parent">
								<a href="#">Group Query</a>
							</li>
							<li class="uk-parent">
								<a href="#">Offers</a>
							</li>
							<li class="uk-parent">
								<a href="#">My Quotations</a>
							</li>
							<li class="uk-parent">
								<a href="#">My Bookings</a>
								<div class="uk-navbar-dropdown">
									<ul class="uk-nav uk-navbar-dropdown-nav">
										<li><a href="#">Quotations</a></li>
										<li><a href="#">Hotels</a></li>
										<li><a href="#">Tours</a></li>
										<li><a href="#">Transfers</a></li>
										<li><a href="#">Meals</a></li>
										<li><a href="#">Visas</a></li>
										<li><a href="#">Vehicle Rental</a></li>
									</ul>
								</div>
							</li>
							<!--
							<li class="uk-parent">
								<a href="#">Contracts</a>
								<div class="uk-navbar-dropdown">
									<ul class="uk-nav uk-navbar-dropdown-nav">
										<li><a href="#">Hotels</a></li>
										<li><a href="#">Tours</a></li>
										<li><a href="#">Transfers</a></li>
										<li><a href="#">Restaurants</a></li>
									</ul>
								</div>
							</li>
							<li class="uk-parent">
								<a href="#">Defaults</a>
								<div class="uk-navbar-dropdown">
									<ul class="uk-nav uk-navbar-dropdown-nav">
										<li><a href="#">Hotels</a></li>
										<li><a href="#">Tours</a></li>
										<li><a href="#">Transfers</a></li>
										<li><a href="#">Restaurants</a></li>
									</ul>
								</div>
							</li>
							<li class="uk-parent">
								<a href="#">Settings</a>
								<div class="uk-navbar-dropdown">
									<ul class="uk-nav uk-navbar-dropdown-nav">
										<li><a href="#">Locations</a></li>
										<li><a href="#">Currency Management</a></li>
										<li><a href="#">Taxes &amp; Bank Accounts</a></li>
									</ul>
								</div>
							</li>
							-->
						</ul>
					</div>
					<div class="uk-navbar-right" style="color: #fff">
						<label for="">Credit Available: INR 100.00</label>
					</div>
				</nav>
			</div>
		</div>
	</div>
</template>

<script>
	import {mapGetters} from 'vuex'
	import socialMenu from './social.vue'
	export default{
		data(){
			return {
			}
		},
		computed: {
			...mapGetters(['currentConfig']),
		},
		components: {
			socialMenu
		}
	}
</script>

<style media="screen" lang="scss">
	.d-user-profile {
		height: 50px;
	}
	.d-navbar .uk-navbar-nav>li>a {
		padding: 0;
	}
	.d-sticky-navbar .uk-navbar-nav>li>a {
		height: 40px;
		color: #fff;
		padding: 10px;
		margin-right: 1px;
		&:hover {
			background-color: #000;
			color: #fff;
		}
	}
	.d-sticky-navbar .uk-navbar-nav>li>div.uk-navbar-dropdown>ul>li {
		padding-top: 2px;
		padding-bottom: 2px;
		&:not(:last-child) {
			border-bottom: 1px solid #f5f5f5;
		}
		a {
			&:hover {
				color: rgb(4, 171, 241);
			}
		}
	}
</style>
