<template>
    <div class="cwt__footer visible-footer">
        <div class="cwt__footer__top">
            <div class="row">
                <div class="col-md-4">               
                </div>
                <div class="col-md-8">
                    <div class="cwt__footer__company">
                        <span>
                            © 2016 <a href="http://mediatec.org/" class="cwt__footer__link" target="_blank">Nways Software</a>
                            <br>
                            All rights reserved
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>