<template>
    <nav>
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                    <span aria-hidden="true">
                        <i class="fa fa-arrow-left"></i>
                    </span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link disabled" href="javascript: void(0);">1</a></li>
            <li class="page-item"><a class="page-link disabled" href="javascript: void(0);">2</a></li>
            <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
            <li class="page-item"><a class="page-link" href="javascript: void(0);">...</a></li>
            <li class="page-item"><a class="page-link" href="javascript: void(0);">89</a></li>
            <li class="page-item"><a class="page-link" href="javascript: void(0);">90</a></li>
            <li class="page-item"><a class="page-link" href="javascript: void(0);">91</a></li>
            <li class="page-item">
                <a class="page-link" href="javascript: void(0);" aria-label="Next">
                    <span aria-hidden="true">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</template>