<template>
	<nav class="top-menu">
	    <div class="menu-icon-container hidden-md-up">
	        <div class="animate-menu-button left-menu-toggle">
	            <div><!-- --></div>
	        </div>
	    </div>
	    <div class="menu">
	        <div class="menu-user-block">
	            <div class="dropdown dropdown-avatar">
	                <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	                    <span class="avatar" href="javascript:void(0);">
	                        <img src="/images/temp/avatars/1.jpg" alt="Alternative text to the image">
	                    </span>
	                </a>
	                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
	                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-user"></i> Profile</a>
	                    <div class="dropdown-divider"></div>
	                    <div class="dropdown-header">Home</div>
	                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> System Dashboard</a>
	                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> User Boards</a>
	                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> Issue Navigator (35 New)</a>
	                    <div class="dropdown-divider"></div>
	                    <form method="POST"  action="/admin/logout">
												<input type="hidden" name="_token" :value="csrfToken">
	                    	<button class="dropdown-item"><i class="dropdown-icon icmn-exit"></i> Logout </button>
	                    	
	                    </form>
	                </ul>
	            </div>
	        </div>
	        <div class="menu-info-block">
	            <div class="left">
	                <div class="header-buttons">
	                    <div class="dropdown">
	                        <a href="javascript: void(0);" class="dropdown-toggle dropdown-inline-button" data-toggle="dropdown" aria-expanded="false">
	                            <i class="dropdown-inline-button-icon icmn-folder-open"></i>
	                            <span class="hidden-lg-down">Issues History</span>
	                            <span class="caret"></span>
	                        </a>
	                        <ul class="dropdown-menu" aria-labelledby="" role="menu">
	                            <a class="dropdown-item" href="javascript:void(0)">Current search</a>
	                            <a class="dropdown-item" href="javascript:void(0)">Search for issues</a>
	                            <div class="dropdown-divider"></div>
	                            <div class="dropdown-header">Opened</div>
	                            <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-checkmark"></i> CLNUI-253 Project implemen...</a>
	                            <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-checkmark"></i> CLNUI-234 Active history iss...</a>
	                            <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-clock"></i> CLNUI-424 Ionicons intergrat...</a>
	                            <a class="dropdown-item" href="javascript:void(0)">More...</a>
	                            <div class="dropdown-divider"></div>
	                            <div class="dropdown-header">Filters</div>
	                            <a class="dropdown-item" href="javascript:void(0)">My open issues</a>
	                            <a class="dropdown-item" href="javascript:void(0)">Reported by me</a>
	                            <div class="dropdown-divider"></div>
	                            <a class="dropdown-item" href="javascript:void(0)">Import issues from CSV</a>
	                            <div class="dropdown-divider"></div>
	                            <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-cog"></i> Settings</a>
	                        </ul>
	                    </div>
	                    <div class="dropdown">
	                        <a href="javascript: void(0);" class="dropdown-toggle dropdown-inline-button" data-toggle="dropdown" aria-expanded="false">
	                            <i class="dropdown-inline-button-icon icmn-database"></i>
	                            <span class="hidden-lg-down">Dashboards</span>
	                            <span class="caret"></span>
	                        </a>
	                        <ul class="dropdown-menu" aria-labelledby="" role="menu">
	                            <div class="dropdown-header">Active</div>
	                            <a class="dropdown-item" href="javascript:void(0)">Project Management</a>
	                            <a class="dropdown-item" href="javascript:void(0)">User Inetrface Development</a>
	                            <a class="dropdown-item" href="javascript:void(0)">Documentation</a>
	                            <div class="dropdown-header">Inactive</div>
	                            <a class="dropdown-item" href="javascript:void(0)">Marketing</a>
	                            <div class="dropdown-divider"></div>
	                            <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-cog"></i> Settings</a>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	            <div class="left hidden-md-down">
	                <div class="example-top-menu-chart">
	                    <span class="title">Income:</span>
	                    <span class="chart" id="topMenuChart">1,3,2,0,3,1,2,3,5,2</span>
	                    <span class="count">425.00 USD</span>
	                </div>
	            </div>
	            <div class="right hidden-md-down margin-left-20">
	                <div class="search-block">
	                    <div class="form-input-icon form-input-icon-right">
	                        <i class="icmn-search"></i>
	                        <input type="text" class="form-control form-control-sm form-control-rounded" placeholder="Search...">
	                        <button type="submit" class="search-block-submit "></button>
	                    </div>
	                </div>
	            </div>
	            <div class="right example-buy-btn hidden-xs-down">
	                <a href="https://themeforest.net/item/clean-ui-premium-bootstrap-4-admin-template-angular-starter-kit/16678285?s_rank=4&ref=mediatec_software" target="_blank" class="btn btn-success-outline btn-rounded">
	                    Buy Now 25$
	                </a>
	            </div>
	        </div>
	    </div>
	</nav>
</template>

<script>
	export default{
		data(){
			return {
				csrfToken: $('meta[name="csrf-token"]').attr('content')
			} 
		}
	}
</script>