<template>
	<div class="login-clock">
		<div id="clock_dc" class="jcgmt-clock_container">
			<div class="jcgmt-lbl">Washington, DC, USA</div>
		</div>
		<div id="clock_uk" class="jcgmt-clock_container">
			<div class="jcgmt-lbl">London, UK</div>
		</div>
		<div id="clock_dubai" class="jcgmt-clock_container">
			<div class="jcgmt-lbl">Dubai, UAE</div>
		</div>
		<div id="clock_india" class="jcgmt-clock_container">
			<div class="jcgmt-lbl">New Delhi, India</div>
		</div>
	</div>
</template>