<template> 
	<div id="spinner">
	    <div class="uk-modal-dialog">
	        <vue-spinner color="white"></vue-spinner>
	    </div>
	</div>
</template>

<script>
import vueSpinner from 'vue-spinner/src/ScaleLoader.vue'
export default {

	components: {
		vueSpinner
	}
}

</script>
<style scoped>
.uk-modal-dialog{
	background: none;
}
</style>