<template>
    <div class="uk-height-viewport">
        <div class="uk-container d-body-wrapper">

        </div>
        <!--
        <div class="uk-flex uk-flex-wrap uk-text-center">
            <div class="uk-width-1-4@m uk-card uk-card-primary uk-card-body">
                <h3>Welcome, Kiran Kumar Vanam!!</h3>
            </div>
            <div class="uk-width-3-4@m uk-card uk-card-secondary uk-card-body">
                <div class="uk-child-width-1-4 uk-flex uk-flex-around">
                    <div class="uk-card uk-card-body d-action-tile" style="background-color:#00d1b2">
                        <strong>Bookings</strong>
                    </div>
                    <div class="uk-card uk-card-body d-action-tile" style="background-color:#ff3860">
                        <strong>Quotations</strong>
                    </div>
                    <div class="uk-card uk-card-body d-action-tile" style="background-color:#ffdd57">
                        <strong>Reports</strong>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
</template>

<style media="screen" lang="scss">

</style>
