<template>
    <div>
        <h3 class="uk-margin-small-bottom">Search Hotels</h3>
        <form class="uk-form-stacked d-small-controls" @submit.prevent="onSubmit">
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">Travel Details</legend>
                <div class="uk-grid uk-flex uk-flex-wrap uk-margin">
                    <div class="uk-width-1-3@s">
                        <label for="" class="uk-form-label"><span v-if="countries.length > 1">Select </span>Country</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" v-model="selectedCountry">
                                <option :value="country.id" v-for="country in countries">{{ country.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-width-1-3@s">
                        <label for="" class="uk-form-label">Select City</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" v-model="selectedDestination">
                                <option :value="city.code" v-for="city in destinations.destinations">{{ city.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="uk-grid uk-flex uk-flex-wrap uk-margin">
                    <div class="uk-width-1-3@s">
                        <label for="" class="uk-form-label">Checkin Date</label>
                        <div class="uk-form-controls">
                            <el-date-picker
                                v-model="check_in"
                                type="date"
                                placeholder="">
                            </el-date-picker>
                        </div>
                    </div>
                    <div class="uk-width-1-3@s">
                        <label for="" class="uk-form-label">Checkout Date</label>
                        <div class="uk-form-controls">
                            <el-date-picker
                                v-model="check_out"
                                type="date"
                                placeholder="">
                            </el-date-picker>
                        </div>
                    </div>
                    <div class="uk-width-1-3@s">
                        <label for="" class="uk-form-label"># Nights</label>
                        <div class="uk-form-controls">
                            <input type="number" class="uk-input" :value="nights">
                        </div>
                    </div>
                </div>
                <div class="uk-grid uk-flex uk-flex-wrap uk-margin">
                    <div class="uk-width-1-3@s">
                        <label class="uk-form-label d-text-line-height">Star Category</label>
                    </div>
                    <div class="uk-width-2-3@s">
                        <div class="uk-form-controls d-form-checkbox-group">
                            <label v-for="n in 5">
                                <input class="uk-checkbox" type="checkbox" v-model="hotel_category" :value="n"> {{ n }} <span v-if="n == 5">+</span></label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="uk-fieldset">
                <legend class="uk-legend">Room Details</legend>
                <div class="uk-flex uk-child-width-auto uk-flex-middle d-total-rooms">
                    <span>#Rooms &nbsp; &nbsp;</span>
                    <select class="uk-select" v-model="totalRooms">
                        <option :value="n" v-for="n in 3">{{ n }}</option>
                    </select>
                </div>
                <div class="uk-flex uk-flex-wrap uk-child-width-auto uk-flex-middle uk-margin d-room-listing" v-for="n in totalRooms">
                    <div class="">
                        <span>Room {{ n }}</span>
                    </div>
                    <div class="">
                        <label for="" class="uk-form-label"># Adults</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" v-model="rooms[n-1].adults">
                                <option :value="adults" v-for="adults in 4">{{ adults }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="">
                        <label for="" class="uk-form-label"># Children</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" v-model="rooms[n-1].children">
                                <option value="0">0</option>
                                <option :value="children" v-for="children in 3">{{ children }}</option>
                            </select>
                        </div>
                    </div>
                    <div v-if="rooms[n-1].children > 0" v-for="child in rooms[n-1].children">
                        <label for="" class="uk-form-label">Child {{child}} Age</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" v-model="rooms[n-1].children_ages[child-1]">
                                <option :value="children" v-for="children in 3">{{ children }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="uk-fieldset">
                <legend class="uk-legend">Traveller Details</legend>
                <div class="uk-grid uk-flex uk-flex-wrap uk-flex-between uk-margin">
                    <div class="uk-width-1-3@s">
                        <label for="" class="uk-form-label">Nationality</label>
                        <div class="uk-form-controls">
                            <select class="uk-select">
                                <option value="1">India</option>
                                <option value="2">Japan</option>
                                <option value="3">China</option>
                                <option value="4">Singapore</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-width-1-3@s">
                        <label for="" class="uk-form-label">Country of Residence</label>
                        <div class="uk-form-controls">
                            <select class="uk-select">
                                <option value="1">India</option><!-- 
                                <option value="2">Japan</option>
                                <option value="3">China</option>
                                <option value="4">Singapore</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="uk-width-1-3@s">
                        <label for="" class="uk-form-label">Currency</label>
                        <div class="uk-form-controls">
                            <select class="uk-select">
                                <option value="1">INR</option><!-- 
                                <option value="2">AUD</option>
                                <option value="3">USD</option>
                                <option value="4">AED</option>
                                <option value="4">SGD</option> -->
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="uk-flex uk-flex-center uk-margin-top">
                <div class="uk-width-1-3@s">
                    <button type="submit" class="uk-button uk-width-1-1" style="background-color: rgb(4, 171, 241);color:#fff;">Submit</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script type="text/javascript">
    import {mapActions, mapGetters} from 'vuex'
    export default {
        data() {
            return {
                search:{
                    destination_code:0,
                    checkin: null,
                    checkout : null,
                    hotel_category : [],
                    client_nationality: "IN",
                    currency :"INR",
                    rooms :[]
                },
                countries: [{name: 'United Arab Emirates', id: 227}],
                selectedCountry: 227,
                selectedDestination: '',
                nights: '',
                check_in: '',
                check_out: '',
                hotel_category:[],
                totalRooms: 1,
                rooms: [
                    {
                        adults: 1,
                        children: 0,
                        children_ages: []
                    },
                    {
                        adults: 0,
                        children: 0,
                        children_ages: []
                    },
                    {
                        adults: 0,
                        children: 0,
                        children_ages: []
                    }
                ]
            }
        },
        methods: {
            ...mapActions(['serachForHotels']),
            onSubmit() {
                var rooms = [];

                for (var i = 0; i < this.totalRooms; i++) {
                    rooms.push(this.rooms[i])
                }

                this.search = {
                    client_nationality: "IN",
                    currency :"INR",
                    destination_code : this.selectedDestination,
                    checkin : moment(this.check_in).format("YYYY-MM-DD"),
                    checkout : moment(this.check_out).format("YYYY-MM-DD"),
                    hotel_category: this.hotel_category,
                    rooms
                };
                this.serachForHotels(this.search); 
                this.$router.push('/dashboard/book/hotels');
            }
        },
        computed:{
            ...mapGetters(['destinations']),
        },
        mounted() {
        }
    }
</script>

<style media="screen" lang="scss" scoped>
    .d-total-rooms>*:not(:first-child), .d-room-listing>*:not(:first-child) {
        margin-left: 20px;
    }
</style>
