<template>
    <div>
        <h3>Search Hotels</h3>
        <form class="uk-form-stacked">
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">Travel Details</legend>
                <div class="uk-flex uk-flex-wrap uk-flex-between uk-margin" v-for="(destination, index) in destinations">
                    <div class="uk-width-1-5@m uk-width-1-3@s">
                        <label for="" class="uk-form-label">Select Country</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" v-model="destination.country_id">
                                <option value="-1">Country</option>
                                <option :value="country.id" v-for="country in countries">{{ country.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-width-1-5@m uk-width-1-3@s">
                        <label for="" class="uk-form-label">Select Destination</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" v-model="destination.destination_id">
                                <option value="-1">Destination</option>
                                <option :value="city.id" v-for="city in cities">{{ city.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-width-1-5@m uk-width-1-3@s">
                        <label for="" class="uk-form-label">Check in & out Dates</label>
                        <div class="uk-form-controls">
                            <el-date-picker
                                v-model="destination.daterangevalue"
                                type="daterange"
                                placeholder="">
                            </el-date-picker>
                        </div>
                    </div>
                    <div class="uk-width-1-5@m  uk-width-1-3@s uk-width-2-3">
                        <label for="" class="uk-form-label">Star Category</label>
                        <div class="uk-form-controls d-form-checkbox-group">
                            <label v-for="n in 5"><input class="uk-checkbox" type="checkbox" :value="n"> {{ n }} <span v-if="n == 5">+</span></label>
                        </div>
                    </div>
                    <div v-if="index != 0">
                        <label for="" class="uk-form-label">&nbsp;</label>
                        <a @click="removeDestination(index)" class="uk-icon" uk-icon="icon: minus-circle" style="color: #f00"></a>
                    </div>
                    <div v-if="index == 0">
                        <label for="" class="uk-form-label">&nbsp;</label>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                </div>
                <div class="uk-margin-small-top">
                    <button @click="addDestination" class="uk-button" type="button"style="background-color: rgb(4, 171, 241); color: #fff">Add Destination</button>
                </div>
            </fieldset>

            <fieldset class="uk-fieldset">
                <legend class="uk-legend">Boarding Details</legend>
                <div class="uk-flex uk-child-width-auto uk-flex-middle d-total-rooms">
                    <span>#Rooms &nbsp; &nbsp;</span>
                    <select class="uk-select" v-model="totalRooms">
                        <option :value="n" v-for="n in 3">{{ n }}</option>
                    </select>
                </div>
                <div class="uk-flex uk-flex-wrap uk-child-width-auto uk-flex-middle uk-margin d-room-listing" v-for="n in totalRooms">
                    <div class="">
                        <span>Room {{ n }}</span>
                    </div>
                    <div class="">
                        <label for="" class="uk-form-label"># Adults</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" v-model="rooms[n-1].adults">
                                <option :value="adults" v-for="adults in 4">{{ adults }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="">
                        <label for="" class="uk-form-label"># Children</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" v-model="rooms[n-1].children">
                                <option value="0">0</option>
                                <option :value="children" v-for="children in 3">{{ children }}</option>
                            </select>
                        </div>
                    </div>
                    <div v-if="rooms[n-1].children > 0" v-for="child in rooms[n-1].children">
                        <label for="" class="uk-form-label">Child {{child}} Age</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" v-model="rooms[n-1].child_ages[child-1]">
                                <option :value="children" v-for="children in 3">{{ children }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="uk-fieldset">
                <legend class="uk-legend">Traveller Details</legend>
                <div class="uk-flex uk-flex-wrap uk-flex-between uk-margin">
                    <div class="uk-width-1-4@m uk-width-1-3@s">
                        <label for="" class="uk-form-label">Nationality</label>
                        <div class="uk-form-controls">
                            <select class="uk-select">
                                <option value="1">India</option>
                                <option value="2">Japan</option>
                                <option value="3">China</option>
                                <option value="4">Singapore</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-width-1-4@m uk-width-1-3@s">
                        <label for="" class="uk-form-label">Country of Residence</label>
                        <div class="uk-form-controls">
                            <select class="uk-select">
                                <option value="1">India</option>
                                <option value="2">Japan</option>
                                <option value="3">China</option>
                                <option value="4">Singapore</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-width-1-4@m uk-width-1-3@s">
                        <label for="" class="uk-form-label">Currency</label>
                        <div class="uk-form-controls">
                            <select class="uk-select">
                                <option value="1">INR</option>
                                <option value="2">AUD</option>
                                <option value="3">USD</option>
                                <option value="4">AED</option>
                                <option value="4">SGD</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="uk-flex uk-flex-center uk-margin-top">
                <div class="uk-width-1-4@m">
                    <button type="submit" class="uk-button uk-width-1-1" style="background-color: rgb(4, 171, 241);color:#fff;">Submit</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script type="text/javascript">
    export default {
        data() {
            return {
                daterangevalue: '',
                countries: [{name: 'United Arab Emirates', id: 1}],
                cities: [
                    {name: 'Dubai', id: 1},
                    {name: 'Sharjah', id: 2},
                    {name: 'Abu Dhabi', id: 3},
                    {name: 'Ras Al Khaimah', id: 4},
                ],
                newDestination: {
                    country_id: -1,
                    destination_id: -1,
                    daterangevalue: '',
                    starcategories: [3]
                },
                destinations: [],
                totalRooms: 1,
                rooms: [
                    {
                        adults: 1,
                        children: 0,
                        child_ages: []
                    },
                    {
                        adults: 1,
                        children: 0,
                        child_ages: []
                    },
                    {
                        adults: 1,
                        children: 0,
                        child_ages: []
                    }
                ]
            }
        },
        methods: {
            addDestination: function() {
                this.destinations.push(_.extend({}, this.newDestination));
            },
            removeDestination: function(index) {
                if(index == 0) return;
                this.destinations.splice(index, 1);
            }
        },
        mounted() {
            this.addDestination();
        }
    }
</script>

<style media="screen" lang="scss" scoped>
    .d-total-rooms>*:not(:first-child), .d-room-listing>*:not(:first-child) {
        margin-left: 20px;
    }
</style>
