<template>
    <div>
      <textarea 
              class="form-control"
              :id="id"
              row="10"
              placeholder="Content"
              v-model="model"
              >          
      </textarea>                        
    </div>  
</template>

<script>
  
  export default {
    props: ['model'],
    data () {
      return {
        ed : "",
        id : randomString(7)
      }
    },
    mounted() {
      // Creates a new editor instance
      this.renderEditor();
    },
    methods:{
      renderEditor() {
        this.ed = new tinymce.Editor(this.id, window.TINYMCE, tinymce.EditorManager);
        var self=this;
        this.ed.on('keyup',()=>{
          this.$emit('updated',self.ed.getContent());
          //self.model = self.ed.getContent();
        });
        
        this.ed.render();
      }
    }
  }

</script>