<template>
    <div class="uk-flex uk-flex-wrap uk-flex-middle">
        <div class="" v-if="hotels == null">
            <vue-spinner></vue-spinner>
        </div>
        <div class="d-list-item uk-margin-bottom uk-flex uk-flex-wrap" v-for="hotel in hotels">
            <div class="d-list-title-bar uk-padding-small d-background-primary uk-width-1-1 uk-flex uk-flex-between">
                <div class="d-list-title">
                    <h5 class="uk-inline d-text-white uk-margin-remove">{{ hotel.name }}</h5>
                    <span class="uk-margin-left">
                        <span class="fa fa-star uk-margin-small-left d-rating" v-for="n in hotel.category"></span>
                    </span>
                </div>
                <div class="d-list-title-price">
                    <h5 class="uk-inline d-text-white uk-margin-remove">INR 7788</h5>
                    <small class="uk-text-small d-text-white">onwards</small>
                </div>
            </div>
            <div class="d-list-body d-background-white uk-padding-small uk-width-1-1">
                <div class="uk-flex uk-flex-between">
                    <img :src="prepareUrl(hotel.images.main_image)" alt="" style="height: 90px; width: 120px;">
                    <div class="d-list-body-details uk-flex uk-flex-wrap">
                        <div class="uk-width-1-1">
                            <p class="d-address">
                                {{hotel.address}}
                            </p>
                        </div>
                        <div class="uk-width-1-1">
                            <p>{{hotel.description}}</p>
                        </div>
                        <div class="uk-width-1-1 uk-flex uk-flex-between">
                            <div class="">
                                <a class="uk-margin-right d-icon-large"><i class="fa fa-map-marker" style="color: #8dbd6c"></i></a>
                                <a class="uk-margin-left d-icon-large"><i class="fa fa-camera" style="color: #009688"></i></a>
                            </div>
                            <div class="">
                                <button :uk-toggle="'target: #' + getId(hotel)" type="button" class="uk-button uk-border-rounded d-text-white d-background-primary">Select Rooms</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-padding-small uk-width-1-1 d-background-white" :id="getId(hotel)" style="border-top: 1px solid #f5f5f5;" hidden>
                <div class="uk-overflow-auto">
                    <table class="uk-table uk-table-striped uk-table-middle uk-table-hover d-text-xsmall">
                        <thead>
                            <tr>
                                <th class="uk-table-shrink"></th>
                                <th>Room Type</th>
                                <th class="uk-text-center uk-table-shrink">Rooms</th>
                                <th class="uk-text-center uk-table-shrink">Nights</th>
                                <th class="uk-text-center uk-table-shrink">Status</th>
                                <th class="uk-text-center uk-table-shrink">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="rate in hotel.rates">
                                <td><input class="uk-radio" type="radio" name="dummy" value=""></td>
                                <td>
                                    {{ rate.rooms[0].description }}  
                                     <span> {{ rate.boarding_options }} </span>
                                    <br>
                                    <a href="#">Cancellation Policies</a>
                                </td>
                                <td class="uk-text-center"> {{ rate.no_of_rooms }}</td>
                                <td class="uk-text-center">{{ nights }}</td>
                                <td class="uk-text-center"><strong><i class="fa fa-check d-icon-large"></i></strong></td>
                                <td class="uk-text-center uk-text-nowrap"><strong>INR {{ rate.price}} </strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
    import {mapActions, mapGetters} from 'vuex'
    import vueSpinner from 'vue-spinner/src/ScaleLoader.vue'
    import slug from 'slug'
    export default {
        data() {
            return {
                hotel1: {
                    name: 'Taj Exotica',
                    stars: 5
                },
                room1: {
                    name: 'Superior Room'
                },
                nights: 4
            }
        },
        methods:{
            prepareUrl(path) {
                return "https://cdn.grnconnect.com/" + path;
            },
            getId(hotel) {
                return slug(hotel.name)
            }
        },
        computed:{
            ...mapGetters(['hotels']),
        },
        components: {
            vueSpinner
        }
    }
</script>

<style media="screen" lang="scss">

</style>
