<template>
    <div class="">
        <div class="uk-container">
            <div class="uk-padding-large">
                <div class="uk-flex uk-flex-between">
                    <div class="">
                        <p>
                            We've found <strong class="d-text-secondary">510 hotels </strong> for your trip to
                            <br>
                            <strong class="d-text-secondary uk-text-uppercase">Dubai (United Arab Emirates)</strong>
                        </p>
                    </div>
                    <div class="">
                        <strong>20-02-2017 - 24-02-2017, Nights 4, Rooms: 1</strong>
                        <button uk-toggle="target: #modal-hotel-search" type="button" class="uk-button d-background-primary d-text-white">Modify Search</button>
                    </div>
                </div>
                <div class="uk-grid uk-flex uk-flex-between uk-margin-top">
                    <div class="d-filter-container uk-width-1-4@m">
                        <hotel-filter></hotel-filter>
                    </div>
                    <div class="d-list-container uk-width-3-4@m">
                        <hotel-list></hotel-list>
                    </div>
                </div>
            </div>

            <!-- Hotel Search Dialog -->
            <div class="" id="modal-hotel-search" uk-modal>
                <div class="uk-modal-dialog uk-modal-body">
                    <hotel-search></hotel-search>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
    import hotelList from './hotel-list.vue'
    import hotelFilter from './hotel-filter.vue'
    import hotelSearch from '../search/hotel-search.vue'
    export default {
        components: {
            hotelList,
            hotelFilter,
            hotelSearch
        }
    }
</script>
