<template>
    <div class="">

        <div class="uk-flex uk-flex-wrap uk-margin d-filters">
            <ul uk-accordion="multiple: true" class="uk-flex uk-flex-wrap uk-margin">
                <li class="uk-open d-background-white uk-padding-small uk-width-1-1 d-filter-item">
                    <h3 class="uk-accordion-title d-text-secondary">Search A Hotel</h3>
                    <div class="uk-accordion-content">
                        <form class="uk-search uk-search-default uk-width-1-1">
                            <span class="uk-search-icon-flip" uk-search-icon></span>
                            <input class="uk-search-input" type="search" placeholder="Search..." name="" value="">
                        </form>
                        <select class="uk-select uk-margin-small-top" name="">
                            <option value="">Select Hotel</option>
                            <option value="">Taj Exotica</option>
                            <option value="">Burj Khalifa</option>
                        </select>
                    </div>
                </li>


                <li class="uk-open d-background-white uk-padding-small uk-width-1-1 d-filter-item">
                    <h3 class="uk-accordion-title d-text-secondary">Star Rating</h3>
                    <div class="uk-accordion-content">
                        <div class="uk-flex uk-flex-column uk-margin-small">
                            <div class="" v-for="n in 5">
                                <input type="checkbox" class="uk-checkbox" name="" value="">
                                <span class="uk-margin-small-left">
                                    <span v-for="star in 6-n" class="fa fa-star d-rating">&nbsp;</span>
                                    {{6-n}} Stars
                                </span>
                            </div>
                        </div>
                    </div>
                </li>


                <li class="uk-open d-background-white uk-padding-small uk-width-1-1 d-filter-item">
                    <h3 class="uk-accordion-title d-text-secondary">Filter By Location</h3>
                    <div class="uk-accordion-content">
                        <div class="uk-flex uk-flex-column uk-margin-small">
                            <div class="" v-for="area in areas">
                                <input type="checkbox" class="uk-checkbox uk-margin-small-right" name="area" :value="area">
                                <label for="">{{ area.name }}</label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>


        <!--
        <div class="uk-flex uk-flex-wrap uk-margin d-filters">
            <div class="d-filter-item uk-width-1-1 uk-padding-small d-background-white">
                <ul uk-accordion>
                    <li>
                        <h3 class="uk-accordion-title d-text-secondary">Search A Hotel</h3>
                        <div class="uk-accordion-content">
                            <form class="uk-search uk-search-default uk-width-1-1">
                                <span class="uk-search-icon-flip" uk-search-icon></span>
                                <input class="uk-search-input" type="search" placeholder="Search..." name="" value="">
                            </form>
                            <select class="uk-select uk-margin-small-top" name="">
                                <option value="">Select Hotel</option>
                                <option value="">Taj Exotica</option>
                                <option value="">Burj Khalifa</option>
                            </select>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="d-filter-item uk-width-1-1 uk-padding-small d-background-white">
                <ul uk-accordion>
                    <li>
                        <h3 class="uk-accordion-title d-text-secondary">Star Rating</h3>
                        <div class="uk-accordion-content">
                            <div class="uk-flex uk-flex-column uk-margin-small">
                                <div class="" v-for="n in 5">
                                    <input type="checkbox" class="uk-checkbox" name="" value="">
                                    <span class="uk-margin-small-left">
                                        <span v-for="star in 6-n" class="fa fa-star d-rating">&nbsp;</span>
                                        {{6-n}} Stars
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="d-filter-item uk-width-1-1 uk-padding-small d-background-white">
                <ul uk-accordion>
                    <li>
                        <h3 class="uk-accordion-title d-text-secondary">Filter By Location</h3>
                        <div class="uk-accordion-content">
                            <div class="uk-flex uk-flex-column uk-margin-small">
                                <div class="" v-for="area in areas">
                                    <input type="checkbox" class="uk-checkbox uk-margin-small-right" name="area" :value="area">
                                    <label for="">{{ area.name }}</label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        -->
    </div>
</template>

<script type="text/javascript">
    import {mapActions, mapGetters} from 'vuex'
    export default {
        data() {
            return {
                areas: [
                    {
                        name: 'Burj Khalifa'
                    },
                    {
                        name: 'Burj Al Arab'
                    },
                    {
                        name: 'Deira'
                    }
                    ,
                    {
                        name: 'Creek'
                    }
                    ,
                    {
                        name: 'Palm Jumeirah'
                    },
                    {
                        name: 'Airport'
                    }
                ]
            }
        }
    }
</script>
