<template>
    <div class="">
        <div class="uk-container">
            <div class="uk-padding-large">
                <div class="uk-flex uk-flex-center">
                    <div class="uk-width-3-5 uk-padding d-background-white" style="border: 5px solid #f5f5f5;">
                        <hotel-search></hotel-search>
                    </div>
                    <div class="uk-width-2-5">

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
    import {mapActions} from 'vuex'
    import hotelSearch from '../search/hotel-search.vue'
    export default {
        components: {
            hotelSearch
        },
        methods:{
            ...mapActions(['fetchDestinations']),
        },
        mounted(){
            this.fetchDestinations();
        }
    }
</script>

<style media="screen" lang="scss" scoped>
</style>
