<template>
    <div>
        <logo-only></logo-only>
        <landing-menu></landing-menu>
        <clock-footer></clock-footer>
        <router-view></router-view> 
        <footer-content></footer-content>       
    </div>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex'
    export default {
        name: 'app',
        data() {
            return {
                
            };
        },
        components:{
            logoOnly : require('../../components/navigation/logoonly.vue'),
            landingMenu: require('../../components/navigation/landingmenu.vue'),
            leftMenu : require('../../components/navigation/leftmenu.vue'),
            clockFooter : require('../../components/navigation/clockfooter.vue'),
            footerContent : require('../../components/navigation/footer.vue')
        },
        methods: {
        }
    }
</script>