<template>

	<div class="uk-flex uk-flex-center uk-flex-middle uk-padding">
		<div class="uk-width-2-3@m uk-background-muted">
			<div class="d-auth-container uk-padding">
				<div class="uk-flex uk-flex-center">
					<div class="uk-width-1-2@m uk-padding-small">
						<h3>Login</h3>
						<form id="login-form-validation" role="form" @submit.prevent="validateData">
							<div class="uk-margin">
						        <div class="uk-inline uk-width-1-1">
						            <span class="uk-form-icon" uk-icon="icon: user"></span>
						            <input id="email"
			                               type="email"
			                               class="uk-input uk-form-controls"
			                               placeholder="Email"
			                               name="email"
			                               v-model="login2.email">
						        </div>
								<span v-if="getErrors('email')" class="uk-text-danger uk-text-small">
			                        <span v-for="error in getErrors('email')"
			                    	        v-text="error">
			                    	</span>
			                    </span>
						    </div>
							<div class="uk-margin">
						        <div class="uk-inline uk-width-1-1">
						            <span class="uk-form-icon" uk-icon="icon: lock"></span>
						            <input class="uk-input uk-form-controls" type="password" placeholder="password"  v-model="login2.password">
						        </div>
								<span v-if="getErrors('password')">
			                        <span v-for="error in getErrors('password')"
			                              class="uk-text-danger uk-text-small"
			                              v-text="error">
			                        </span>
			                    </span>
						    </div>
							<div class="uk-margin uk-clearfix">
					        	<div class="uk-float-left">
						        	<input class="uk-checkbox" type="checkbox" checked>
						        	<span class="uk-text-small">&nbsp;Remember Me</span>
					        	</div>
					        	<div class="uk-float-right">
									<router-link :to="{name:'password-reset'}" class="link-blue link-underlined uk-text-small uk-float-right">
			                             Forgot Password?
			                        </router-link>
								</div>
							</div>
						    <div class="uk-margin">
					    		<button type="submit" class="uk-button d-text-white d-background-primary uk-width-1-1 uk-border-rounded uk-margin-top">Login</button>
						    </div>
						</form>
						<div class="uk-margin uk-hidden@s">
							<button type="button" class="uk-button d-text-white d-background-primary uk-width-1-1 uk-border-rounded" @click="validateData">Register Now</button>
						</div>
					</div>
					<div class="uk-width-1-2@m uk-padding-small uk-visible@s">
							<h3>Join Us!</h3>
							<div class="uk-margin">
								<p>
									Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									tempor incididunt ut labore et dolore magna
									ut labore et dolore magna aliqua.
								</p>
							</div>

						    <div class="uk-margin">
					    		<button type="button" class="uk-button d-text-white d-background-primary uk-width-1-1 uk-border-rounded" @click="validateData">Register Now</button>
						    </div>
					</div>
				</div>
			</div>
		</div>
		<spinner v-show="false"></spinner>
	</div>

</template>
<script>
    import {mapActions} from 'vuex'
    export default {
        data (){
            return {
                login2:{ email: 'dmc@domain.com', password : 'dmc@123' },
                errors:{}
            }
        },
        methods:{
            ...mapActions(['authenticate']),
            getErrors: function(field){
                //var messages = this.errors[field];

                /*if(messages == 'string')
                messages= [messages];
                */
                return this.errors[field];
            },
            validatePasswords() {
                // null
                if(!this.login2.password)
                    return "Enter password"

                // length < 6
                if(this.login2.password.length < 6)
                    return "Password must have min 6 characters "

                //valid data
                return true;
            },
            validateEmail() {
                // null
                if(!this.login2.email)
                    return "Enter email"

                //valid data
                return true;
            },
            validateData: function(event) {
            	UIkit.modal("#spinner");

                let errorMsg = this.validateEmail();
                if(typeof  errorMsg == 'string') {
                    this.errors = { email : [errorMsg] }
                    return event.preventDefault();
                }

                errorMsg = this.validatePasswords();
                if(typeof  errorMsg == 'string') {
                    this.errors = { password : [errorMsg] }
                    return event.preventDefault();
                }

                this.login()
            },
            login : function() {
                this.authenticate({
                    data:{
                        "grant_type" : "password",
                        "client_id" : "2",
                        "client_secret" : "AvU0HGzefKNEMixsJ0La5SXI6gnn1LzSny4Eqpqx",
                        "username" : this.login2.email,
                        "password" : this.login2.password,
                        "scope" : '*',
                    },
                    router:this.$router
                });
            }
        },
        mounted() {
          
        }
    }
</script>
<!--
"username" : 'dmc@domain.com',
"password" : 'dmc@123',
-->
