<template>
  <div class="single-page-block" id="register-form">
    <div class="single-page-block-inner effect-3d-element">
        <div class="blur-placeholder"><!-- --></div>
        <div class="single-page-block-form">
            <h3 class="text-center">
                <i class="icmn-users margin-right-10"></i>
                Register Form
            </h3>
            <br />
            <form id="form-validation" name="form-validation" method="POST" action="/admin/register">
                <div class="form-group">
                    <div class="form-input-icon form-input-icon-right">
                        <input type="text" 
                               class="form-control" 
                               name="name"
                               v-model="register.name"
                               placeholder="Username" 
                               required autofocus>
                    </div>
                    <p v-if="getErrors('name')">
                        <span v-for="error in getErrors('name')" 
                              class="label label-danger" 
                              v-text="error"> 
                        </span> 
                    </p>
                </div>
                <div class="form-group">
                    <div class="form-input-icon form-input-icon-right">
                        <input class="form-control"
                               placeholder="Email"
                               name="email"
                               v-model="register.email"
                               type="text">
                    </div>
                    <p v-if="getErrors('email')">
                        <span v-for="error in getErrors('email')" 
                              class="label label-danger" 
                              v-text="error"> 
                        </span> 
                    </p>
                </div>
                <div class="form-group">
                    <div class="form-input-icon form-input-icon-right">
                        <input class="form-control password"
                               name="password"
                               v-model="register.password"
                               type="password" 
                               placeholder="Password"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-input-icon form-input-icon-right">
                        <input type="password" class="form-control password"
                            name="password_confirmation"
                            v-model="register.password_confirmation"
                            placeholder="Repeat Password">
                    </div>
                    <p v-if="getErrors('password')">
                        <span v-for="error in getErrors('password')" 
                              class="label label-danger" 
                              v-text="error"> 
                        </span> 
                    </p>
                </div>
                
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary width-150" v-on:click="validateData($event)">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</template>
<script>
    export default{
          data: function(){
            return {
                register:{},
                errors:{}
            }
          },
          methods:{
            getErrors: function(field){
                var messages = this.errors[field];
                
                if(messages == 'string')
                    messages= [messages];
                
                return messages;
            },
            validatePasswords() {
                // null
                if(!this.register.password)
                    return "Enter password"
              
                // length < 6
                if(this.register.password.length < 6) 
                    return "Password must have min 6 characters "
                
                // both passwords don't match
                if(this.register.password != this.register.password_confirmation)
                    return "Password and Confirm Password don't match"

                //valid data
                return true;
            },
            validateData: function(event) {
                const errorMsg = this.validatePasswords();
                if(typeof  errorMsg == 'string') {
                    this.errors = { password : [errorMsg] }
                    return event.preventDefault();
                }
             }
          }
    }
</script>