@import 'colors.scss';

/* Icons */
.d-icon-facebook, .d-icon-gplus, .d-icon-twitter {
    background-color: #fff;
}

.d-icon-facebook {
    color: $facebook;
    &:hover {
        background-color: $facebook;
        color: #fff;
    }
}

.d-icon-gplus {
    color: $googleplus;
    &:hover {
        background-color: $googleplus;
        color: #fff;
    }
}

.d-icon-twitter {
    color: $twitter;
    &:hover {
        background-color: $twitter;
        color: #fff;
    }
}

.d-icon-large {
    font-size: 1.5em;
}

.d-rating {
    color: $gold;
}

/* Tiles */

.d-tile-wrapper {
    padding: 0 5px;
}


/* vertical padding */
.d-padding-vertical-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}
.d-padding-bottom-90 {
	padding-bottom: 90px;
}

/* Forms */

form {
    font-size: 12px;
    fieldset {
        >*:not(legend) {
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .uk-legend {
            color: $secondarycolor;
            font-size: 16px ! important;
            border-bottom: 1px solid #e5e5e5;
        }
    }

    .el-input {
        width: 100% ! important;
        input.el-input__inner {
            border-radius: 0;
            height: 40px;
            line-height: 38px;
            font-size: 12px;
            color: #666;
        }
    }
}

form.d-small-controls {
    .uk-input, .uk-select, .el-input input.el-input__inner {
        height: 30px ! important;
        line-height: 28px ! important;
    }
}

/* Move this to organisms file */

.d-form-checkbox-group {
    height: 40px;
    line-height: 38px;
}
