@import 'colors.scss';

.d-list-item {
    border: 1px solid #e5e5e5;
    .d-list-title-bar {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .d-list-body {
        padding-bottom: 10px;
        .d-list-body-details {
            padding-left: 10px;
            padding-right: 10px;
            p {
                font-size: 12px;
                margin-bottom: 10px;
            }
        }
    }
}
.d-filters {
    ul {
        margin: 0;
        .d-filter-item {
            &:not(:first-child) {
                margin-top: 10px;
            }
        }
    }    
}
