@import 'colors.scss';

/* Backgrounds & Text Colors */

.d-background-primary {
    background-color: $primarycolor;
}

.d-background-secondary {
    background-color: $secondarycolor;
}

.d-background-white {
    background-color: $white;
}

.d-text-primary {
    color: $primarycolor;
    &:hover {
        color: $primaryhovercolor;
    }
}

.d-text-secondary {
    color: $secondarycolor;
    &:hover {
        color: $secondaryhovercolor;
    }
}

.d-text-white {
    color: #fff;
}

.d-text-line-height {
    line-height: 38px;
}

.d-text-xsmall {
    font-size: 0.7em ! important;
}
